@import 'vars';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  &.lock{
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.decor{
  @include exo300;
  letter-spacing: 2px;
  font-size: 12px;
  color: $text3;
  transform: rotate(-90deg);
  
  span {
    position: relative;
    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: $text3;
      left: 0;
      top: 50%;
      transform: translate(-50%);
    }
  }
}